<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Formulario Patente</title>
        <link rel="stylesheet" href="./css/styles.css" />
    </head>

    <body>
        <form method="post" action="/login" id="form-acceso">      
      <input type="text" name="user" placeholder="Usuario..." required>
      <input type="password" name="pass" placeholder="Password..." required>
      <button value="Login">Login</button>
      {# <input type="submit" value="Login"> #}
    </form>
    </body>
</html>
